/* Estilo para el contenedor principal */

/* Estilo para el encabezado */
h1 {
  text-align: center;
  background-color: #d1c7c7; /* Color de fondo del encabezado */
  color: white;
  padding: 10px;
}


/* Estilo para el contenedor de filtros */
.filters {
  flex: 1;
  background-color: #fff; /* Color de fondo del contenedor de filtros */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(118, 71, 71, 0.2);
  margin-right: 20px; /* Espacio entre el contenedor de filtros y la cuadrícula de productos */
}

/* Estilo para los elementos de filtro */
label {
  font-weight: bold;
}

select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}




.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}