/* Estilos para el contenedor del carrito */
.cart {
    position: fixed; /* Fijar la posición */
    top: 20px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la derecha */
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para la lista de elementos del carrito */
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart ul li {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilos para el botón de eliminar */
  .cart button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cart button:hover {
    background-color: #d84315;
  }
  
  /* Estilos para el botón de pagar */
  .cart button.pay-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cart button.pay-button:hover {
    background-color: #388e3c;
  }
  